@import "../../assets/theme/clr_var.scss";

$sidebar-bg-color: $baseColor !default;
$submenu-bg-color: $baseBg !default;
$sidebar-width: 210px !default;
$icon-bg-color: transparent !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";

.sidebar_style {
  // height: calc(100vh - 232px);
  // left: 0px;
  // top: 0px;
  // height: calc(100vh - 175px);
  position: fixed;
  z-index: 2 !important;
  transition: all 0.25s;
  top: 0;
  left: 0;
  width: 260px;
  padding-top: 50px;

  .pro-sidebar-inner {
    // border-radius: 5px;
    // overflow: hidden;
    background: $BodyBg;
    padding-top: 10px;
  }

  &.isFixed {
    padding-top: 0px;
  }

  @media (max-width: 991px) {
    position: fixed;
    top: 75px;
    left: -100%;
    height: calc(100vh - 75px);
  }

  @media (max-width: 767px) {
    top: 60px;
    height: calc(100vh - 60px);
  }

  .pro-menu {
    padding: 0;

    .pro-menu-item {
      .pro-inner-item {
        padding: 19px 15px;
        border-bottom: 1px solid $borderBg;

        &:hover {
          background: $BtnSecondary;
        }

        .pro-icon-wrapper {
          width: 21px;
          min-width: 21px;
          height: 21px;
          line-height: 21px;

          .pro-icon {
            .IconPng {
              width: 20px;

              img {
                max-width: 100%;
              }
            }
          }
        }

        .pro-item-content {
          padding-left: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            width: 8px;
            height: auto;
          }

          @media (max-width: 767px) {
            padding-left: 15px;
          }
        }
      }

      &.active {
        .pro-inner-item {
          // background-color: $dimbg-4;

          svg {
            path,
            line,
            circle {
              // stroke: $white;
            }
          }
        }
      }

      &.pro-sub-menu {
        .pro-inner-list-item {
          padding-left: 0;

          ul {
            padding: 0;

            li {
              &.active {
                .pro-inner-item {
                  background-color: $BtnPrimary;
                }

                &:before {
                  z-index: 1;
                  position: absolute;
                  content: "";
                  left: 0px;
                  height: 15px;
                  width: 15px;
                  border: 2px solid #38076c;
                  border-radius: 50%;
                  top: 50%;
                  transform: translate(23px, -50%);
                }
              }
            }
          }

          .pro-inner-item {
            padding: 19px 15px;
            text-align: center;
            background-color: $BtnSecondary;

            .pro-item-content {
              padding-left: 0;
              justify-content: center;
              min-height: 18px;
            }
          }
        }

        .pro-inner-item {
          .pro-arrow-wrapper {
            .pro-arrow {
              display: none;
              // border-color: $secondaryColor;
            }
          }
        }

        &.open {
          svg {
            path,
            line,
            circle {
              // stroke: $white;
            }
          }

          .pro-item-content {
            svg {
              margin-right: 2px;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}

.pro-sidebar .pro-menu a,
.pro-sidebar .pro-item-content {
  font-size: 14px;
  font-family: $baseFont;
  font-weight: 700;
  color: $white;
  line-height: 20px;
}

li.pro-menu-item {
  position: relative;
}

.pro-sub-menu ul li .pro-inner-item::before {
  display: none !important;
}

.sidebar_footer {
  border-top: 1px solid $borderBg !important;
  flex: 0 0 auto;
  padding-bottom: 80px;

  @media (max-width: 991px) {
    // bottom: 155px;
  }

  .token-language {
    .token_list {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 11px;
      white-space: nowrap;
      font-weight: 400;
      padding: 14px 15px;
      border-bottom: 1px solid $borderBg;

      img {
        width: 22px;
        height: 22px;
        margin-right: 16px;
        object-fit: cover;
      }

      a {
        font-size: 14px;
        color: $white;
        font-weight: 500;
        text-decoration: none;
        font-family: $baseFont;
      }
    }

    .lang_list {
      display: flex;
      font-family: $baseFont;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      color: $white;

      img {
        margin-right: 10px;
        width: 22px;
      }
    }
  }

  .social_links {
    display: flex;
    gap: 5px;
    justify-content: center;
    box-sizing: border-box;
    padding: 14px 17px !important;

    li {
      position: relative;
      transition: all ease 0.5s;
      margin: 0 5px;

      img {
        width: 20px;
        transition: all ease 0.5s;
      }

      &:hover {
        img {
          transform: rotate(360deg);
          transition: all ease 0.5s;
        }
      }
    }
  }
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  overflow: unset !important;
}

.pro-sidebar .pro-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  height: 100%;
}

.token-language .token_list a img {
  margin-right: 10px;
  width: 39px;
  height: 39px;
}

// small sidebar

.small_nav {
  .sidebar_style {
    width: 50px;
    min-width: 50px;

    @media (max-width: 991px) {
      left: 0;
      min-width: 265px;
    }

    @media (max-width: 767px) {
      min-width: 200px;
    }

    .pro-sidebar-inner {
      overflow: unset;
    }

    .pro-item-content {
      opacity: 0;
    }

    .pro-inner-item {
      .pro-arrow-wrapper {
        display: none;

        @media (max-width: 991px) {
          display: block;
        }
      }
    }

    @media (max-width: 991px) {
      a,
      .pro-item-content {
        opacity: 1;
      }
    }
  }

  .sidebar_footer {
    .token-language {
      span {
        display: none;

        @media (max-width: 991px) {
          display: inline-block;
        }
      }
    }

    .social_links {
      transform: translate(0, 0);
      display: flex;
      overflow: hidden;
      background: $baseColor;
      width: 42px;
      border-radius: 5px 30px 30px 5px;
      transition: all 0.5s;

      @media (max-width: 991px) {
        width: 100%;
      }

      &:hover {
        width: 220px;
        transform: translate(0, 0);
      }
    }
  }
}
